@import "../../../styles/_variables.scss";

:host {
    display: block;
    border-bottom: 1px solid $color-dark-border;

    &:last-child {
        border-bottom: 0;
    }
}

.sidemenu-item {
    display: block;
}

.sidemenu-item-anchor {
    display: block;
    padding: $padding-sm $padding;
    text-decoration: none;
    color: #fff;

    &:hover {
        text-decoration: none;
    }

    &.active {
        padding-left: $padding + $padding;
        background-color: rgba(255, 255, 255, 0.08);
    } 
}

.sidemenu-item-icon {
    font-size: 1.5em;
    position: relative;
    top: 2px;
    margin: 0 $margin-xs 0 $margin-sm;
}

.sidemenu-item-text {
    font-size: 1em;
}