:root {

    --body-bg: #dddddd;

    --font-size-base: 14px;
    --font-color-base: #333333;

    --border-radius-base: 3px;

    --shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    --color-1: #4e7494;

    --success-color: #8de057;
    --error-color: #e05757;

    --navigation-bar-height: 52px;
    --navigation-bar-bg: var(--color-1);

}