@import "../../styles/variables.css";

.root {
    background-color: var(--navigation-bar-bg);
    height: var(--navigation-bar-height);
    padding: 0 20px;
}

.title {
    line-height: var(--navigation-bar-height);
    letter-spacing: 1px;
    font-size: 1.25rem;
    color: white;
}