.root {

}

.label {

}

.input {
    border-radius: 0;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    transition: box-shadow .2s ease, outline-color .2s ease;
}

.hasError {
    box-shadow: inset 0px -4px 0px 0px $error-color;
    outline-color: $error-color;
}

.feedback {
    
}