@import "../../../styles/_variables.scss";
@import "../../../styles/_mixins.scss";

:host {
    display: block;
    background-color: #fff;
    border-radius: $border-base-radius;
    border: 1px solid #ddd; 
    margin-bottom: $margin;

    @include shadow();
}

.heading {
    padding: $padding;

    h2 {
        font-size: 1.3em;
        margin: 0;
        padding: 0 0 $padding-xs;
        border-bottom: $header-border; 
    }
}

.body {
    padding: 0 $padding $padding;
}