@import "../../../styles/_variables.scss";
@import "../../../styles/_mixins.scss";

.line-chart-container {
    opacity: 1;
    transition: opacity .2s ease;
    position: relative;

    &.line-chart-container--fading {
        opacity: 0;
    }
}

.line-chart-tooltip-container {
    position: absolute;
    min-width: 125px;
    max-width: 240px;
    margin-bottom: 20px;

    .line-chart-tooltip {
        @include shadow();
        padding: $padding-sm $padding;
        background-color: #fff;

        .line-chart-tooltip-header {
            font-size: 1em;
            font-weight: bold;
            margin: 0;
            padding: 0;
        }

        .line-chart-tooltip-body {
            margin: 0;
            padding: 0;
        }

    }
}

/deep/ {
    .line-chart-y-group {
        line {
            stroke-width: 1px;
            color: #aaa;
            opacity: 0.1;
            shape-rendering: crispEdges
        }

        path.domain {
            stroke: transparent;
        }

    }


    .line-chart-path {
        stroke-width: 2px;
        stroke: $color-primary;
        fill: transparent;
    }

    .line-chart-mouse-indicator-vertical-line {
        stroke: $color-caution;
        stroke-width: 1px;
        opacity: 0;
    }

    .line-chart-mouse-line-indicator-dot {
        stroke: $color-primary;
        fill: none;
        stroke-width: 1px;
        opacity: 0;
    }
}
