@import "../../../styles/_variables.scss";

.line-chart-container {
    opacity: 1;
    transition: opacity .2s ease;

    &.line-chart-container--fading {
        opacity: 0;
    }
}

/deep/ {
    .line-chart-y-group {
        line {
            stroke-width: 1px;
            color: #aaa;
            opacity: 0.1;
            shape-rendering: crispEdges
        }

        path.domain {
            stroke: transparent;
        }

    }


    .line-chart-path {
        stroke-width: 2px;
        stroke: $color-primary;
        fill: transparent;
    }

    .line-chart-mouse-indicator-vertical-line {
        stroke: $color-caution;
        stroke-width: 1px;
        opacity: 0;
    }

    .line-chart-mouse-line-indicator-dot {
        stroke: $color-primary;
        fill: none;
        stroke-width: 1px;
        opacity: 0;
    }
}
